#THE REST OF THE ARR SUITE
GLOBAL_PUID=1000
GLOBAL_PGID=1000


# Music Services (Slskd & Soulseek)
MUSIC_PUID=1000
MUSIC_PGID=1000
SLSKD_API_KEY=YOUR_KEY_HERE
SLSKD_USERNAME=YOUR_USERNAME
SLSKD_PASSWORD=YOUR_PASSWORD
