vault_cloud_mount: /path/to/data
vault_cloudflare_api_token: CHANGE-ME
vault_cloudflare_tunnel_token: CHANGE-ME
vault_domainname_hs: domain.com
vault_filebrowser_admin_password: CHANGE-ME
vault_gf_database_name: grafana_prod_db
vault_gf_database_password: change-me
vault_gf_database_user: grafana_prod_user
vault_immich_db_data_location: /opt/immich/database
vault_immich_db_database_name: immich_prod_db
vault_immich_db_password: postgres
vault_immich_db_username: postgres
vault_immich_upload_location: /path/to/immich
vault_immich_version: v3
vault_llm_mount: /path/to/data
vault_onlyoffice_jwt_secret: CHANGE-ME
vault_samba_password: CHANGE-ME
vault_samba_user: user
vault_slskd_api_key: CHANGE-ME
vault_slskd_password: SOULSEEK-PASSWORD
vault_slskd_username: SOULSEEK-NAME
vault_sync_mount: /path/to/data
vault_tailscale_auth_key: CHANGE-ME
